{% extends 'layout.html' %}

{% block body %}
    <h3>Explore</h3>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped table-inverse">
            <thead class="thead-inverse">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>(Un)Follow</th>
                </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                        <tr>
                            <td>{{ u.first_name }}</td>
                            <td>{{ u.last_name }}</td>
                            <td>{{ u.email }}</td>
                            <td>
                                {% if not current_user.is_following(u) %}
                                    <a href="{{ url_for('follow') }}" class="btn btn-success">Follow</a>
                                {% else %}
                                    <a href="" class="btn btn-success">Unfollow</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
{% endblock %}